.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
/build/
/tensorflow/core/util/version_info.cc

tensorflow/examples/android/\.gradle/3\.3/taskArtifacts/

tensorflow/examples/android/\.idea/

tensorflow/examples/android/assets/

tensorflow/examples/android/gradle/wrapper/

tensorflow/examples/android/gradleBuild/android-profile/

tensorflow/examples/android/gradleBuild/

tensorflow/examples/android/libs/armeabi-v7a/

tensorflow/examples/android/local\.properties

tensorflow/examples/android/gradlew\.bat

WORKSPACE

tensorflow/examples/android/gradlew

tensorflow/examples/android/android\.iml

third_party/toolchains/cpus/arm/
